<div class="block">
  <h2>In Progress:</h2>
  <br>
  <ul class="items">
    <li *ngFor="let item of listItems | async, let i = index">
      <table width="100%">
        <tr>
          <td width="5%">
            <input class ="markItem" type="checkbox" name = "Item {{item}}" (click)='completeItem(item.val, item.key)'>
          </td>
          <td width="100%">
            <span class="content">
              <!-- <div contenteditable="true" class="contentBox" type="text" name="contentBox" [textContent]="item.val" (input)="item.val=$event.target.textContent">{{item.val}}</div> -->
              <div contenteditable="true" class="contentBox" type="text" name="contentBox" [textContent]="item.val" (keydown.enter)="checkChanges(item.val, $event.target.textContent, item.key)" (focusout)="checkChanges(item.val, $event.target.textContent, item.key)">{{item.val}}</div>
            </span>
          </td>
          <td>
            <div class="delete" (click)="deleteItem(item.key)">
              <span class="delete1">
                <svg width="1.25em" height="1.25em" viewBox="0 0 20 20" class="bi bi-x-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg"> <!-- Original value was 1em width/height, and 0 0 16 16 -->
                  <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                  <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
                  <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
                </svg>
              </span>
              <span class="delete2">
                <svg width="1.25em" height="1.25em" viewBox="0 0 20 20" class="bi bi-x-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.146-3.146a.5.5 0 0 0-.708-.708L8 7.293 4.854 4.146a.5.5 0 1 0-.708.708L7.293 8l-3.147 3.146a.5.5 0 0 0 .708.708L8 8.707l3.146 3.147a.5.5 0 0 0 .708-.708L8.707 8l3.147-3.146z"/>
                </svg>
              </span>

            </div>

          </td>
        </tr>
      </table>
      <!-- <button type="delete" name="button" (click)="deleteItem(item.key)">Delete</button> -->
      <hr>
    </li>
  </ul>
  <div class="addTask">
    <input type="text" name="Add" placeholder="Add a task..." [(ngModel)]="newItem" (keydown.enter)="addItem()">
    <button type="add" name="button" (click)="addItem()" >Add</button>
  </div>
</div>
