.items{
  list-style: none;
  padding:0;
  padding-left: 1%;
}
.block{
  width: 25%;
  min-width:300px;
  float: left;
  padding:20px;
}
h2 {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
tr:hover td{
  background-color: #DCDCDC;
}
tr:hover .left-cell{
  background-color: #DCDCDC;
  -moz-border-radius: 20px 0 0 20px;
  -webkit-border-radius: 20px 0 0 20px;
  -khtml-border-radius: 20px 0 0 20px;
  border-radius: 20px 0 0 20px;
}
tr:hover .right-cell{
  background-color: #DCDCDC;
  -moz-border-radius: 0 20px 20px 0;
  -webkit-border-radius: 0 20px 20px 0;
  -khtml-border-radius: 0 20px 20px 0;
  border-radius: 0 20px 20px 0;
}
tr:hover .delete{
  opacity:1;
}
.delete{
  opacity:0;
  cursor:pointer;
}
.delete:hover .delete1,
.delete:active .delete1{
  opacity:0;
}
.delete:hover .delete2,
.delete:active .delete2{
  opacity:1;
}
.delete1{
  transition: opacity .15s linear;
  opacity:1;
  position:absolute;
}
.delete2{
  opacity:0;
  transition: opacity .15s linear;
}
.content{
  outline: 0px solid transparent;
}
.mark-item:hover{
  cursor:pointer;
}
.mark-item:hover .mark-item2,
.mark-item:active .mark-item2{
  opacity: 1;
}
.mark-item2{
  opacity: 0;
  transition: opacity .15s linear;
}
.mark-item1{
  position: absolute;
  opacity: 1;
}
.mark-item{
  display:block; 
  margin:auto;
  width:75%;
}
.text-box{
  width:80%;
  height:40px;
  border-radius: 20px;
  border: 1px solid #555555;
  text-indent:3px;
  outline: 0px solid transparent;
}
.add{
  width:20%;
  height:40px;
  border-radius: 20px;
  border: 1px solid #555555;
  outline: 0px solid transparent;
}
/* .markItem{
  width: 1em;
  height: 1em;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #000;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  display: block;
} */
/* .delete{
  display: table-cell;
  white-space: nowrap;
} */
/* Handles each list element */
/* .markItem{
  display: table-cell;
  white-space: nowrap;
} */
/* .content{
  max-width: 100%;
  word-break: break-word;
} */
/* .content{
  display: table-cell;
  width: 100%;
  white-space: nowrap;
}  */
/* .addTask{
  align-items:
} */
