.items{
  list-style: none;
  padding:0;
  padding-left: 1%;
}
.block{
  width: 25%;
  float: left;
  padding:20px;
}
h2 {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
tr:hover {
  background-color: #DCDCDC;
}
tr:hover .delete{
  opacity:1;
}
.delete{
  opacity:0;
  cursor:pointer;
}
.delete:hover .delete1,
.delete:active .delete1{
  display:none;
}
.delete:hover .delete2,
.delete:active .delete2{
  display:inline;
}
.delete2{
  display:none;
}
/* .delete{
  display: table-cell;
  white-space: nowrap;
} */
/* Handles each list element */
/* .markItem{
  display: table-cell;
  white-space: nowrap;
} */
.content{
  max-width: 100%;
  word-break: break-word;
}
/* .content{
  display: table-cell;
  width: 100%;
  white-space: nowrap;
}  */
/* .addTask{
  align-items:
} */
