.items{
  list-style: none;
  padding:0;
  padding-left: 1%;
}
.Block{
  width: 25%;
  float: left;
  padding:20px;
}
h2 {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  /* text-align: center; */
}
tr:hover {
  background-color: #DCDCDC;
}
tr:hover .delete{
  opacity:1;
}
.delete{
  opacity:0;
}
.delete:hover .delete1,
.delete:active .delete1{
  display:none;
}
.delete:hover .delete2,
.delete:active .delete2{
  display:inline;
}

.delete2{
  display:none;
}
/* Handles each list element */
/* .markItem{
  display: table-cell;
  white-space: nowrap;
} */
/* .content{
  display: table-cell;
  width: 100%;
  white-space: nowrap;
}  */
.delete{
  /* display: table-cell;
  white-space: nowrap; */
  cursor:pointer;
}

/* .addTask{
  align-items:
} */
