<div class="Main Page">
  <h1>To-Do List</h1>
    <h2>In Progress</h2>
      <items></items>
        <actions></actions>
    <h2>Completed</h2>
      <completed></completed>
        <actions></actions>
</div>


<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="/__/firebase/7.15.5/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="/__/firebase/7.15.5/firebase-analytics.js"></script>

<!-- Initialize Firebase -->
<script src="/__/firebase/init.js"></script>
