#completedItem {
  text-decoration: line-through;
}
.completedItems {
  list-style: none;
  padding:0;
}
.Block {
  width: 25%;
  margin-left: 25%;
  padding: 20px;
}
h2 {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  /* text-align: center; */
}
tr:hover {
  background-color: #DCDCDC;
}
tr:hover .delete{
  opacity:1;
}
.delete{
  opacity:0;
}

/* Handles each list element */
/* .markItem{
  display: table-cell;
  white-space: nowrap;
}
.content{
  display: table-cell;
  width: 100%;
} */
.delete{
 /* display: table-cell;
  white-space: nowrap; */
  cursor:pointer;
}

/* #clear{
  float:right;
} */
