<div class="Block">
  <h2>Completed:</h2>
  <br>
  <ul class="completedItems">
    <li id="completedItem" *ngFor="let item of completedItems | async, let i = index">
<table width="100%">
  <tr>
    <td width="5%">
      <input class ="markItem" type="checkbox" name="completed {{item}}" (click)='uncompleteItem(item.val, item.key)' checked>
    </td>
    <td width="100%">
      <span class="content">{{item.val}}</span>
    </td>
    <td>
      <div class="delete">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg" (click)="deleteItem(item.key)">
          <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
          <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
          <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
        </svg>
      </div>
    </td>
  </tr>

</table>

      <!-- <button type="delete" name="button" (click)="deleteItem(item.key)">Delete</button> -->
      <hr>
    </li>
  </ul>
  <button id="clear" name="button" (click)="clearAll()">Clear</button>
</div>
