<div class="block">
  <h2>Completed:</h2>
  <br>
  <ul class="completed-items">
    <li id="completedItem" *ngFor="let item of completedItems | async, let i = index">
<table width="100%">
  <tr>
    <td class="left-cell" width="5%">
      <div class="mark-item" (click)='uncompleteItem(item.val, item.key)'>
        <span class="mark-item2">
          <svg width="1.25em" height="1.25em" viewBox="0 0 20 20" class="bi bi-check-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>
          </svg>
        </span>
        <span class="mark-item1">
          <svg width="1.25em" height="1.25em" viewBox="0 0 20 20" class="bi bi-check-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
          </svg>
        </span>
      </div>
      <!-- <input class ="markItem" type="checkbox" name="completed {{item}}" (click)='uncompleteItem(item.val, item.key)' checked> -->
    </td>
    <td width="100%">
      <!-- <span class="content">{{item.val}}</span> This is the non-editable version-->
      <div contenteditable="true" class="content" type="text" name="contentBox" [textContent]="item.val" #search (keydown.enter)="search.blur()" (focusout)="updateItem(item.val, $event.target.textContent, item.key)">{{item.val}}</div>
    </td>
    <td class="right-cell">
      <div class="delete" (click)="deleteItem(item.key)">
        <span class="delete1">
          <svg width="1.25em" height="1.25em" viewBox="0 0 20 20" class="bi bi-x-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg"> <!-- Original value was 1em width/height, and 0 0 16 16 -->
            <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
            <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
          </svg>
        </span>
        <span class="delete2">
          <svg width="1.25em" height="1.25em" viewBox="0 0 20 20" class="bi bi-x-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.146-3.146a.5.5 0 0 0-.708-.708L8 7.293 4.854 4.146a.5.5 0 1 0-.708.708L7.293 8l-3.147 3.146a.5.5 0 0 0 .708.708L8 8.707l3.146 3.147a.5.5 0 0 0 .708-.708L8.707 8l3.147-3.146z"/>
          </svg>
        </span>
      </div>
    </td>
  </tr>
</table>

      <!-- <button type="delete" name="button" (click)="deleteItem(item.key)">Delete</button> -->
      <hr>
    </li>
  </ul>
  <button id="clear" name="button" (click)="clearAll()">Clear</button>
</div>
